{% load staticfiles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">Like Lion</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>  
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <a class="nav-item nav-link active" href="{% url 'home' %}">Home</a>
        <a class="nav-item nav-link" href="{% url 'new' %}">글쓰기</a>        
        <a class="nav-item nav-link" href="#">Blog</a>
        <a class="nav-item nav-link" href="{% static 'grade.pdf' %}">수료증</a> 
        <a class="nav-item nav-link" href="{% static 'coco.jpg' %}" alt="">코코</a>        
      </ul>     
    </div>
    </div>
  </nav>

<div class= "container">
{% for blog in blogs.all%}
<a href="{% url 'detail' blog.id %}">
    <h1> {{blog.title}}</h1>
</a>
    
    <p>{{blog.pub_date}}</p>
    <p>{{blog.summary}}<a href="{% url 'detail' blog.id%}">... more</p>
    <br><br>
{%endfor%}
</div>
